Destokp/GUI_V_2/Connected Services/ServicioSeguridad/ServicioSeguridad3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51236/ServicioSeguridad.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SS_Modelo" />
  <xs:element name="Grupo_Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreGrupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="creadoPor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_RegistrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Grupo_RegistrarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_Modificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
        <xs:element minOccurs="0" name="nombreGrupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modificadoPor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_ModificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Grupo_ModificarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_Leer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
        <xs:element minOccurs="0" name="nombreGrupo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_LeerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SS_Modelo" minOccurs="0" name="Grupo_LeerResult" nillable="true" type="q1:Grupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_LeerTodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
        <xs:element minOccurs="0" name="nombreGrupo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_LeerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SS_Modelo" minOccurs="0" name="Grupo_LeerTodoResult" nillable="true" type="q2:ArrayOfGrupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grupo_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Grupo_EliminarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrupoRolUsuario_Leer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
        <xs:element minOccurs="0" name="nombreGrupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrupoRolUsuario_LeerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SS_Modelo" minOccurs="0" name="GrupoRolUsuario_LeerResult" nillable="true" type="q3:ArrayOfGrupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrupoRol_Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
        <xs:element minOccurs="0" name="estadoGrupoRol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="creadoPor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrupoRol_RegistrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrupoRol_RegistrarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrupoRol_Modificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupoRol" type="xs:int" />
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
        <xs:element minOccurs="0" name="estadoGrupoRol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modificadoPor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrupoRol_ModificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrupoRol_ModificarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrupoRol_Leer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupoRol" type="xs:int" />
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrupoRol_LeerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SS_Modelo" minOccurs="0" name="GrupoRol_LeerResult" nillable="true" type="q4:GrupoRol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrupoRol_LeerTodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupoRol" type="xs:int" />
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrupoRol_LeerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SS_Modelo" minOccurs="0" name="GrupoRol_LeerTodoResult" nillable="true" type="q5:ArrayOfGrupoRol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrupoRol_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrupoRol_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrupoRol_EliminarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrupoUsuario_Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estadoGrupoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="creadoPor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrupoUsuario_RegistrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrupoUsuario_RegistrarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrupoUsuario_Modificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estadoGrupoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modificadoPor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrupoUsuario_ModificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrupoUsuario_ModificarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrupoUsuario_Leer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrupoUsuario_LeerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SS_Modelo" minOccurs="0" name="GrupoUsuario_LeerResult" nillable="true" type="q6:GrupoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrupoUsuario_LeerTodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrupoUsuario_LeerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SS_Modelo" minOccurs="0" name="GrupoUsuario_LeerTodoResult" nillable="true" type="q7:ArrayOfGrupoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrupoUsuario_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrupoUsuario_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrupoUsuario_EliminarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreLista" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcionLista" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="creadoPor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_RegistrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lista_RegistrarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Modificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idLista" type="xs:int" />
        <xs:element minOccurs="0" name="nombreLista" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcionLista" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modificadoPor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_ModificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lista_ModificarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Leer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idLista" type="xs:int" />
        <xs:element minOccurs="0" name="nombreLista" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_LeerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SS_Modelo" minOccurs="0" name="Lista_LeerResult" nillable="true" type="q8:Lista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_LeerTodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idLista" type="xs:int" />
        <xs:element minOccurs="0" name="nombreLista" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_LeerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SS_Modelo" minOccurs="0" name="Lista_LeerTodoResult" nillable="true" type="q9:ArrayOfLista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idLista" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lista_EliminarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaValor_Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idLista" type="xs:int" />
        <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcionLista" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="creadoPor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaValor_RegistrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListaValor_RegistrarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaValor_Modificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idListaValor" type="xs:int" />
        <xs:element minOccurs="0" name="idLista" type="xs:int" />
        <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcionLista" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modificadoPor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaValor_ModificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListaValor_ModificarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaValor_Leer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idListaValor" type="xs:int" />
        <xs:element minOccurs="0" name="idLista" type="xs:int" />
        <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaValor_LeerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SS_Modelo" minOccurs="0" name="ListaValor_LeerResult" nillable="true" type="q10:ListaValor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaValor_LeerTodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idListaValor" type="xs:int" />
        <xs:element minOccurs="0" name="idLista" type="xs:int" />
        <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaValor_LeerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SS_Modelo" minOccurs="0" name="ListaValor_LeerTodoResult" nillable="true" type="q11:ArrayOfListaValor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaValor_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idListaValor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaValor_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListaValor_EliminarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rol_Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreRol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcionRol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estadoRol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoPermiso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="creadoPor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rol_RegistrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Rol_RegistrarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rol_Modificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
        <xs:element minOccurs="0" name="nombreRol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcionRol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estadoRol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoPermiso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modificadoPor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rol_ModificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Rol_ModificarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rol_Leer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
        <xs:element minOccurs="0" name="nombreRol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rol_LeerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SS_Modelo" minOccurs="0" name="Rol_LeerResult" nillable="true" type="q12:Rol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rol_LeerTodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
        <xs:element minOccurs="0" name="nombreRol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rol_LeerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SS_Modelo" minOccurs="0" name="Rol_LeerTodoResult" nillable="true" type="q13:ArrayOfRol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rol_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rol_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Rol_EliminarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sesion_Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAplicacion" type="xs:int" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ultimoPermiso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estadoSesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sesion_RegistrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sesion_RegistrarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sesion_Leer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSesion" type="xs:int" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sesion_LeerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SS_Modelo" minOccurs="0" name="Sesion_LeerResult" nillable="true" type="q14:Sesion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sesion_LeerTodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSesion" type="xs:int" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sesion_LeerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SS_Modelo" minOccurs="0" name="Sesion_LeerTodoResult" nillable="true" type="q15:ArrayOfSesion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sesion_Activar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSesion" type="xs:int" />
        <xs:element minOccurs="0" name="estadoSesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sesion_ActivarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sesion_ActivarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="claveAcceso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estadoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="creadoPor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_RegistrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario_RegistrarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Modificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="claveAcceso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estadoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modificadoPor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ModificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario_ModificarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Leer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estadoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_LeerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SS_Modelo" minOccurs="0" name="Usuario_LeerResult" nillable="true" type="q16:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_LeerTodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estadoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_LeerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SS_Modelo" minOccurs="0" name="Usuario_LeerTodoResult" nillable="true" type="q17:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_LeerTodo2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_LeerTodo2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario_LeerTodo2Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Iniciar_Sesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Iniciar_SesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SS_Modelo" minOccurs="0" name="Usuario_Iniciar_SesionResult" nillable="true" type="q18:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario_EliminarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Registrar_Grupo_MinpaoHome">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="claveAcceso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Registrar_Grupo_MinpaoHomeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario_Registrar_Grupo_MinpaoHomeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Registrar_Grupo_2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="claveAcceso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Registrar_Grupo_2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario_Registrar_Grupo_2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>